[submodule "tlc"]
	path = tlc
	url = https://github.com/fjolnir/TLC.git
[submodule "objc"]
	path = objc
	url = https://github.com/rweichler/objc.lua.git
[submodule "lfs"]
	path = lfs
	url = https://github.com/lunarmodules/luafilesystem.git
